/**
 * Place your custom CSS styles here.
 **/

.calendar-day-list div.list-card-details {
  min-height: 90px;
}

.u-fancy-scrollbar.calendar-drag-area.calendar-week {
  overflow-x: scroll;
}

.day-column:nth-child(1),
.day-column:nth-child(7) {
  opacity: 0.4;
}

.days-of-week div:nth-child(1),
.days-of-week div:nth-child(7) {
  opacity: 0.4;
}

.calendar-day .badge-state-due-past,
.calendar-day .badge-state-due-now,
.calendar-day .badge-state-due-future,
.calendar-day .badge-state-due-soon {
  display: none;
}

/* If you want to hide Sat/Sun completely */

/*.day-column:nth-child(1),
.day-column:nth-child(7) {
  display: none;
}

.days-of-week div:nth-child(1),
.days-of-week div:nth-child(7) {
  display: none;
}

.day-column {
  width: 19% !important;
}*/
